body {
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.8;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100vh;
}

header {
  padding: 2rem;
}

header a {
  color: inherit;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: 700;
}

main {
  padding: 0 2rem;
}

section {
  padding-top: 1rem;
}

section > ol {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}

section > ol > li {
  margin-bottom: 2rem;
}

time {
  display: block;
  color: #666;
  font-size: 0.8rem;
}

article {
  padding-top: 1rem;
}

footer {
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

h2 {
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

p {
  margin-top: 1rem;
}

blockquote {
  border-left: 0.5rem solid #ddd;
  margin: 1rem 0;
  padding-left: 1rem;
  font-style: italic;
  color: #666;
}

ul,
ol {
  padding-left: 1.5rem;
}

hr {
  margin: 2rem;
  border: 1px solid #ddd;
}

code {
  border-radius: 0.2rem;
  background-color: #eee;
  padding: 0.2rem 0.4rem;
}

pre code {
  border-radius: 0;
  background-color: transparent;
  padding: 0;
}

pre {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #333;
  color: #eee;
  overflow-x: auto;
  line-height: 1.3;
}

img {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
}
